<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	-->
<!-- <%= stylesheet_link_tag 'lotto' %> -->
<link rel="stylesheet" href="css/lotto.css" />

<p class="ot_title">One-Thousand Lottery Machine</p>
<p>=========== 649 ===========</p>
<p>DB Version: <%= @server_data[-1].getEpi %></p>
<p>Previous Numbers: <%= @server_data[-1].getDrawNum %> / <%= @server_data[-1].getSpecialNum %></p>
<div> 
	<p><span class='ot_predict'>OT predict: </span>
		<% @draw.each do |num| %>
			<div class="ot_number_bg">
				<!-- zero-padding number -->
				<p class="ot_number"><%= "%02d " % num %></p>
			</div>
		<% end %>
		<div class='ot_number_footer'></div>
	</p>
</div>

<p>
	<%= button_to 'Generate', :controller=>'lotto', :action => 'index'%>
</p>
<p>=========== 539 ===========</p>
